
#useful-link:link{
	color : red;
}
#useful-link :visited{
	color : #00004d ;
}
#name{
	color: rgb(255, 255, 255);
	font-size: 50px;
	/*background-image: url("https://wallpaperplay.com/walls/full/2/3/3/25456.jpg");
	background-size: cover;*/
	background-color: rgba(25,29,54,0.8);
	position: relative;
	transition: font-size 600ms ease;
}


#name:hover{
	font-size: 60px;
}

.specialfonts{
	font-family: 'Indie Flower', cursive;
}

body{
	background-image: url("E://Python new start//pictures for website//25470.jpg");

	/*background-image: url("https://i.imgur.com/PBPOaAI.gif");*/

	background-size:  cover;

	color: rgb(255,255,255);
}

#profilepic {
  opacity: 1;
  display: block;
  height: 200;
  width: auto;
  transition: 600ms ease;
  backface-visibility: hidden;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  
}

.middle {
  transition: 600ms ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.profile:hover #profilepic {
  opacity: 0.3;
}
.profile:hover .middle {
  opacity: 1;
}
.text {
  background-color: rgb(25,29,54);
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

#useful-link{
	color :rgb(255,255,255);
}

.special-buttons{
	border-radius: 20px;
	padding: 20px 20px;
	opacity: 0.8;
	color : rgb(255,255,255);
	font-family: 'Indie Flower', cursive;
}

/*.showcase1{
	float:left;
    width:25%; 
    height:280px; 
    border: 10px;
    border-color: rgb(255,255,255);
    background-color: rgba(25,29,54,0.7);
    
}

.showcase2{
	float:right;   
    width:25%; 
    height:280px; 
    border:100px;
    border-color: rgb(255,255,255);
    background-color: rgba(25,29,54,0.7);
}
*/

.table1{
	width: 25vw;
	height : 100%;
    border-spacing: 1%;
    padding: 1%;
    font-size: 100%;
    background-color: rgba(25,29,54,0.7);
    opacity: 0.5;
    transition: 250ms ease;

}
/*.experience{
	display: flex;
	justify-content: space-evenly;
}*/

.table1:hover{
	opacity: 1;
}

.announce{
	/*font-size: 20px;
	text-align: center;*/
}


.showcase{
	background-color: rgba(25,29,54,0.7);
	display: block;
  	margin-left: auto;
 	margin-right: auto;
 	/*color: rgb(190, 199, 105);*/
	width: 50%;
	font-size: 20px;
	text-align: center;
	padding: 50px;
	/*background-image: url("https://fall2017foundations.files.wordpress.com/2017/09/gif6.gif?w=700&h=");*/
	background-position: center;
}

/*.showcase img {
	opacity: 0.5;
}*/

.table2 {
  position: relative;
  width: 25%;
}

#imagemanipulate {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.projects {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.table2:hover #imagemanipulate {
  opacity: 0.3;
}

.table2:hover .projects {
  opacity: 1;
}

.headers{
	font-family: 'Indie Flower', cursive;
	font-size: 150%;
	text-align: center;
	transition: font-size 250ms ease;

}
.headers:hover {
	font-size: 200%;
	background-color: rgba(25,29,54,0.6);
}

#footers{
	background-color: rgba(25,29,54,1);
}
#contact{
	font-size: 250%;
}

#button{
	color: rgb(255,255,255);
	background-color: rgba(25,29,54,1);
	border-radius: 4px;
  	border: none;
  	text-align: center;
  	font-size: 100%;
  	padding: 10%;
  	width: 100%;
  	cursor: pointer;
 	margin: 5px;
}

.linkbuttons{
	background-color: rgba(25,29,54,1);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 5px;
	border-radius: 7.5px 25px;
	overflow: hidden;
}

.Github{
	padding: 9% 5%;
	font-size: 250%;
}
















/*.linkbuttons{
	text-align: center;
    border: 1px solid rgb(70, 63, 112);
    border-spacing: 10px;
    font-size: 100%;
    align-items: center;

}

.Github{
	border: 1px solid rgb(255,255,255);
	padding: 2% 5%;
	background :none;
	font-size: 150%;
	cursor: pointer;
	margin : 1%;
	transition: 0.8s;
	overflow: hidden;
	position: relative;

}

.bttn1{
	color : rgba(255,255,255,1);
}


.bttn1:hover{
	color: rgb(0,0,0);

}

.Github::before{
	content: '';
	position: absolute;
	left: 0;
	width: 100%;
	height: 0%;
	background: rgb(255,255,255);
	z-index: -1;
	transition: 0.8s;
}

.bttn1::before{
	top : 0;
	border-radius: 0 0 50% 50%;
}

.bttn1:hover::before{
	height: 180%;
}
*/

